// Theming overrides for sample theme
$header-bg: #165281;
$footer-bg: #165281;
// $container-bg: rgb(250,0,0);
// $content-wrapper-bg: rgb(250,0,0);
$serif: 'Comic Sans', 'Comic Sans MS';
$sans-serif: 'Comic Sans', 'Comic Sans MS';
$edx-footer-bg-color: #165281;
$edx-footer-link-color: white;